BODY {
	FONT: 12px/1.5 tahoma,arial,
}
BUTTON {
	FONT: 12px/1.5 tahoma,arial,
}
INPUT {
	FONT: 12px/1.5 tahoma,arial,
}
SELECT {
	FONT: 12px/1.5 tahoma,arial,
}
TEXTAREA {
	FONT: 12px/1.5 tahoma,arial,
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	MARGIN: 0px; FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
DL {
	LIST-STYLE-TYPE: none
}
DT {
	LIST-STYLE-TYPE: none
}
DD {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
texarea {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #0088d9; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0088d9; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f86700; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}
.color_ff6 {
	COLOR: #ff6600
}
.color_666 {
	COLOR: #666
}
.gray {
	COLOR: #666
}
H6 {
	COLOR: #666; FONT-SIZE: 12px
}
P {
	LINE-HEIGHT: 1.6em; FONT-FAMILY: simsun; MARGIN-BOTTOM: 12px; COLOR: #666; PADDING-TOP: 2px
}
.th_main .top_left H1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; TEXT-INDENT: 25px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", "ºÚÌå"; HEIGHT: 36px; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.f12_h {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.th_main {
	MARGIN: 5px auto; WIDTH: 980px
}
.th_main H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", "ºÚÌå"; BACKGROUND: url(../image/icon_arrow.gif) no-repeat 0px -39px; COLOR: #000; FONT-SIZE: 22px; FONT-WEIGHT: normal; PADDING-TOP: 10px
}
#main {
	WIDTH: 780px; MARGIN-BOTTOM: 10px; FLOAT: left; OVERFLOW: hidden
}
#side {
	WIDTH: 190px; MARGIN-BOTTOM: 10px; FLOAT: right; OVERFLOW: hidden
}
.mbdh {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; LINE-HEIGHT: 26px; MARGIN-TOP: 8px; MARGIN-BOTTOM: 10px; HEIGHT: 26px; OVERFLOW: hidden; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.mbdh A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 18px; DISPLAY: block; BACKGROUND: url(../image/breadCrumb_bg.gif) no-repeat right 0px; FLOAT: left; HEIGHT: 26px; PADDING-TOP: 0px
}
.mbdh A:hover {
	TEXT-DECORATION: none
}
.mbdh SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; HEIGHT: 26px; PADDING-TOP: 0px
}
.mbdh_txt {
	LINE-HEIGHT: 2.1; FLOAT: left
}
.right_boxfx {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FLOAT: right; PADDING-TOP: 1px
}
#seTitle {
	DISPLAY: inline
}
.list_top {
	POSITION: relative; MARGIN-BOTTOM: 4px; HEIGHT: 40px; OVERFLOW: hidden
}
.list_top H1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 25px; WIDTH: 438px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; OVERFLOW: hidden; PADDING-TOP: 3px
}
.up_load {
	POSITION: absolute; PADDING-LEFT: 20px; WIDTH: 330px; BACKGROUND: url(../image/yfgpy_03.gif) no-repeat 0px 15px; HEIGHT: 20px; TOP: 0px; RIGHT: 0px; PADDING-TOP: 12px
}
.list_srh_top {
	Z-INDEX: 1; BORDER-BOTTOM: #ffcc65 1px solid; POSITION: relative; BORDER-LEFT: #ffcc65 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 12px; PADDING-RIGHT: 7px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff6e5; HEIGHT: 25px; COLOR: #333; BORDER-TOP: #ffcc65 1px solid; BORDER-RIGHT: #ffcc65 1px solid; PADDING-TOP: 8px
}
.list_srh_ul LI {
	DISPLAY: inline
}
.list_srh_ul INPUT {
	BORDER-BOTTOM: #d1d0cd 1px solid; BORDER-LEFT: #d1d0cd 1px solid; LINE-HEIGHT: 24px; MARGIN: 0px 3px; PADDING-LEFT: 5px; HEIGHT: 24px; COLOR: #666666; VERTICAL-ALIGN: middle; BORDER-TOP: #d1d0cd 1px solid; BORDER-RIGHT: #d1d0cd 1px solid
}
.wid_82 {
	WIDTH: 82px
}
.wid_110 {
	WIDTH: 105px
}
.preOptions {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 250px; PADDING-RIGHT: 0px; HEIGHT: 20px; COLOR: #333; TOP: 0px; RIGHT: 0px; PADDING-TOP: 0px
}
.preOptions LABEL {
	MARGIN: 0px 7px 0px 5px
}
.preOptions INPUT {
	MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: -2px
}
.srh_box_btn {
	POSITION: absolute; WIDTH: 66px; HEIGHT: 26px; TOP: 8px; RIGHT: 5px
}
.srh_but {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 66px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.list_srh_bot {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #f2f2f2; PADDING-TOP: 6px
}
.list_srh_bot DIV.showPar {
	DISPLAY: inline
}
.list_srh_bot STRONG {
	COLOR: #ff0000
}
.list_srh_bot SPAN {
	PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 17px; DISPLAY: inline-block; BACKGROUND: url(../image/ico11.gif) #2288ee no-repeat right 6px; COLOR: #ffffff; VERTICAL-ALIGN: top; CURSOR: pointer; PADDING-TOP: 2px
}
.list_srh_bot EM {
	FONT-STYLE: normal; COLOR: #0055aa; MARGIN-LEFT: 12px; CURSOR: pointer
}
.list_srch {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; MARGIN: 0px 0px 10px; BACKGROUND: #99cc00; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#list_filter {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; WIDTH: 948px; PADDING-RIGHT: 10px; BACKGROUND: #fbfdff; PADDING-TOP: 15px
}
#list_filter DL {
	MARGIN-BOTTOM: 7px; OVERFLOW: auto
}
#list_filter DL DT {
	WIDTH: 60px; FLOAT: left; OVERFLOW: hidden; FONT-WEIGHT: bold
}
#list_filter DL DD {
	WIDTH: 888px; FLOAT: left; COLOR: #0055aa; OVERFLOW: hidden
}
#list_filter DL DD .on {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #2288ee; FLOAT: left; HEIGHT: 18px; COLOR: #fff; OVERFLOW: hidden; CURSOR: pointer; MARGIN-RIGHT: 6px; PADDING-TOP: 0px
}
#list_filter DD A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 18px; COLOR: #005bb5; CURSOR: pointer; PADDING-TOP: 0px
}
#list_filter DD A:hover {
	BACKGROUND: #2288ee; COLOR: #fff; TEXT-DECORATION: none
}
#list_filter DD A .srh_arrow {
	PADDING-RIGHT: 14px; BACKGROUND: url(../image/icon_arrow.gif) no-repeat right 4px
}
#list_filter DD A:hover .srh_arrow {
	BACKGROUND: url(../image/icon_arrow.gif) no-repeat right -15px
}
#list_filter DD .more_pinp {
	Z-INDEX: 3; WIDTH: 74px; FLOAT: right; HEIGHT: 24px
}
#list_filter DD .more_pinp INPUT {
	TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 7px; WIDTH: 74px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -30px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; COLOR: #005bb5; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
#list_filter DD .price_on {
	Z-INDEX: 9; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 0px; BACKGROUND: #ffffff 0px 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; LEFT: auto
}
#list_filter .hotel_dd_a A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; MARGIN: 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 20px; COLOR: #005bb5; CURSOR: pointer; PADDING-TOP: 0px
}
#list_filter .hotel_dd_a .cate_hotel_more {
	BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 9px; WIDTH: 43px; PADDING-RIGHT: 0px; HEIGHT: 18px; COLOR: #1166bb; VERTICAL-ALIGN: top; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px; border-radius: 0 0 0 0
}
#list_filter .hotel_dd_a .cate_hotel_more:hover {
	COLOR: #ffffff
}
#list_filter .hotel_dd_a .cate_hotel_more B {
	POSITION: absolute; WIDTH: 8px; BACKGROUND: url(../image/jkjkj_01.png) no-repeat 0px 0px; HEIGHT: 8px; TOP: 5px; LEFT: 36px
}
#list_filter .hotel_dd_a .cate_hotel_more:hover B {
	BACKGROUND: url(../image/jkjkj_01.png) no-repeat 0px -16px
}
#list_filter .hotel_dd_a .cate_hotel_less {
	BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 9px; WIDTH: 43px; PADDING-RIGHT: 0px; HEIGHT: 18px; COLOR: #1166bb; VERTICAL-ALIGN: top; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px; border-radius: 0 0 0 0
}
#list_filter .hotel_dd_a .cate_hotel_less:hover {
	COLOR: #ffffff
}
#list_filter .hotel_dd_a .cate_hotel_less B {
	POSITION: absolute; WIDTH: 8px; BACKGROUND: url(../image/jkjkj_02.png) no-repeat 0px 0px; HEIGHT: 8px; TOP: 5px; LEFT: 36px
}
#list_filter .hotel_dd_a .cate_hotel_less:hover B {
	BACKGROUND: url(../image/jkjkj_02.png) no-repeat 0px -16px
}
#list_filter .hotel_dd_a .chainname {
	WIDTH: 690px; MARGIN-LEFT: 46px
}
.price_quer {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 40px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat -100px -98px; HEIGHT: 21px; COLOR: #005bb5; MARGIN-LEFT: 5px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.price02 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; PADDING-LEFT: 2px; WIDTH: 44px; PADDING-RIGHT: 2px; FONT: 12px arial,simsun; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
.list_tab {
	BORDER-BOTTOM: #ff5500 2px solid; HEIGHT: 34px
}
.sort_page {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND: #fff; FLOAT: right; HEIGHT: 22px; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.sort_page SPAN {
	LINE-HEIGHT: 1.7; FLOAT: left
}
.sort_page .pre A {
	WIDTH: 20px; DISPLAY: block; BACKGROUND: url(../image/icon_arrow.gif) no-repeat -7px -110px; HEIGHT: 20px; OVERFLOW: hidden; CURSOR: pointer; MARGIN-RIGHT: 8px; BORDER-RIGHT: #ccc 1px solid
}
.sort_page .next A {
	BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(../image/icon_arrow.gif) no-repeat 30px -70px; COLOR: #333; MARGIN-LEFT: 8px; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.list_tab .tab {
	PADDING-LEFT: 10px; HEIGHT: 34px
}
.list_tab .tab LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 34px; WIDTH: 98px; BACKGROUND: #3366ff; FLOAT: left; HEIGHT: 34px; MARGIN-RIGHT: 5px
}
.tab .lieb_bg A {
	LINE-HEIGHT: 34px; WIDTH: 98px; DISPLAY: block; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tab .dut_bg A {
	LINE-HEIGHT: 34px; WIDTH: 98px; DISPLAY: block; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.on_dut_bg A {
	LINE-HEIGHT: 34px; WIDTH: 98px; DISPLAY: block; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.on_lieb_bg A {
	LINE-HEIGHT: 34px; WIDTH: 98px; DISPLAY: block; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#main .on_lieb_bg A:hover {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#main .on_lieb_bg A:hover {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tab .lieb_bg A SPAN {
	MARGIN: 8px 0px 0px 9px; WIDTH: 13px; DISPLAY: inline-block; BACKGROUND: #00ccff; FLOAT: left; HEIGHT: 14px; OVERFLOW: hidden
}
.tab .dut_bg A SPAN {
	MARGIN: 8px 0px 0px 9px; WIDTH: 13px; DISPLAY: inline-block; BACKGROUND: #00ccff; FLOAT: left; HEIGHT: 14px; OVERFLOW: hidden
}
.on_dut_bg A SPAN {
	MARGIN: 8px 0px 0px 9px; WIDTH: 13px; DISPLAY: inline-block; BACKGROUND: #00ccff; FLOAT: left; HEIGHT: 14px; OVERFLOW: hidden
}
.on_lieb_bg A SPAN {
	MARGIN: 8px 0px 0px 9px; WIDTH: 13px; DISPLAY: inline-block; BACKGROUND: #00ccff; FLOAT: left; HEIGHT: 14px; OVERFLOW: hidden
}
.tab .lieb_bg A {
	BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -96px; COLOR: #005bb5; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tab .lieb_bg A SPAN {
	BACKGROUND: url(../image/icon_arrow.gif) no-repeat right -172px
}
.tab .on_lieb_bg A {
	BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -59px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tab .on_lieb_bg A SPAN {
	BACKGROUND: url(../image/icon_arrow.gif) no-repeat right -151px
}
.tab .dut_bg A SPAN {
	BACKGROUND: url(../image/icon_arrow.gif) no-repeat right -194px
}
.tab .dut_bg A {
	BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -96px; COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tab .on_dut_bg A {
	BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -59px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tab .on_dut_bg A SPAN {
	BACKGROUND: url(../image/icon_arrow.gif) no-repeat right -218px
}
.sort_box {
	BORDER-BOTTOM: #e8e8e9 1px solid; POSITION: relative; BORDER-LEFT: #e8e8e9 1px solid; LINE-HEIGHT: 38px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: #f0f0f0; HEIGHT: 35px; CLEAR: both; BORDER-TOP: #e8e8e9 1px; BORDER-RIGHT: #e8e8e9 1px solid
}
.sort_box A {
	MARGIN: 0px 5px; PADDING-RIGHT: 20px; COLOR: #404040; TEXT-DECORATION: none
}
.sort_box .shaxia {
	BACKGROUND: url(../image/list_tabbar_arrow2.gif) no-repeat right -76px
}
.sort_box .shaxia_on {
	BACKGROUND: url(../image/list_tabbar_arrow2.gif) no-repeat right -107px; COLOR: #fd6c03
}
.sort_box .xia {
	BACKGROUND: url(../image/list_tabbar_arrow2.gif) no-repeat right -8px
}
.sort_box .xia_on {
	BACKGROUND: url(../image/list_tabbar_arrow2.gif) no-repeat right -8px; COLOR: #fd6c03
}
.sort_box .shang {
	BACKGROUND: url(../image/list_tabbar_arrow2.gif) no-repeat right -42px
}
.sort_box .shang_on {
	BACKGROUND: url(../image/list_tabbar_arrow2.gif) no-repeat right -140px; COLOR: #fd6c03
}
.hotel_view {
	BORDER-BOTTOM: #e8e8e9 1px solid; BORDER-LEFT: #e8e8e9 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 760px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 15px; BACKGROUND: url(../image/xbgbg.gif) repeat-x; BORDER-TOP: #76bbff 1px solid; BORDER-RIGHT: #e8e8e9 1px solid; PADDING-TOP: 15px
}
.hotel_cont {
	WIDTH: 760px; OVERFLOW: hidden
}
.img_box {
	WIDTH: 120px; FLOAT: left; HEIGHT: 96px; OVERFLOW: hidden
}
.htext_box {
	POSITION: relative; WIDTH: 620px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 15px
}
.htext_box2_jiag {
	POSITION: absolute; TEXT-ALIGN: right; LINE-HEIGHT: 25px; WIDTH: 160px; HEIGHT: 96px; COLOR: #131313; TOP: 0px; RIGHT: 5px
}
.htext_box2_jiag .tuan_float {
	MARGIN-BOTTOM: 3px
}
.htext_box2_jiag .tuan_float SPAN {
	WIDTH: 47px; DISPLAY: inline-block; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat; HEIGHT: 16px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 3px
}
.htext_box2_jiag .tuan_float A {
	COLOR: #ff0000
}
.htext_box2_jiag .jiage {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #fd6c03; FONT-SIZE: 26px; FONT-WEIGHT: bold
}
.htext_box2_jiag .hpl_cs {
	LINE-HEIGHT: 20px; COLOR: #666; FONT-SIZE: 12px
}
.htext_box2_jiag .hpl_cs A.col_3 {
	COLOR: #666
}
.htext_box_h2 {
	WIDTH: 600px; FLOAT: left; HEIGHT: 32px
}
.htext_box_h2 A {
	LINE-HEIGHT: 32px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.htext_box_h2 A:hover {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.star_img {
	WIDTH: 55px; DISPLAY: inline-block; BACKGROUND: url(../image/star_img.gif) no-repeat; HEIGHT: 16px; MARGIN-LEFT: 3px; VERTICAL-ALIGN: middle
}
.star_0 {
	BACKGROUND-POSITION: -550px 0px
}
.star_2 {
	BACKGROUND-POSITION: 0px 0px
}
.star_4 {
	BACKGROUND-POSITION: -55px 0px
}
.star_6 {
	BACKGROUND-POSITION: -110px 0px
}
.star_8 {
	BACKGROUND-POSITION: -165px 0px
}
.star_10 {
	BACKGROUND-POSITION: -220px 0px
}
.star_1 {
	BACKGROUND-POSITION: -275px 0px
}
.star_3 {
	BACKGROUND-POSITION: -330px 0px
}
.star_5 {
	BACKGROUND-POSITION: -385px 0px
}
.star_7 {
	BACKGROUND-POSITION: -440px 0px
}
.star_9 {
	BACKGROUND-POSITION: -495px 0px
}
.htext_box .ito_box {
	LINE-HEIGHT: 24px; WIDTH: 455px; WHITE-SPACE: nowrap; COLOR: #333; CLEAR: both; OVERFLOW: hidden
}
.htext_box .ito_box DT {
	WIDTH: 60px; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.htext_box .ito_box DD {
	WIDTH: 390px; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.htext_box DD P {
	LINE-HEIGHT: 2em
}
.hotel_room {
	MARGIN-TOP: 7px; WIDTH: 760px; CLEAR: both; OVERFLOW: hidden
}
.hotel_room_list {
	BORDER-SPACING: 0; WIDTH: 100%
}
.hotel_room_list TH {
	BORDER-BOTTOM: #e7e7e7 1px solid; TEXT-ALIGN: left; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; BACKGROUND: #f0f0f0; HEIGHT: 30px; COLOR: #666; FONT-WEIGHT: normal
}
.hotel_room_list TD {
	BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 37px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; HEIGHT: 37px; COLOR: #666; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.hotel_room_list .room_xqtip {
	POSITION: relative; BACKGROUND: #f0f7fc
}
.hotel_room_list .room_xqtip UL LI {
	FLOAT: left; MARGIN-RIGHT: 12px
}
.hotel_room_list .roomsh_caplist {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 730px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.hotel_room_list .roomsh_caplist LI {
	LIST-STYLE: none none outside; LINE-HEIGHT: 22px; FLOAT: left; MARGIN-RIGHT: 30px
}
.hotel_room_list .room_yinc {
	POSITION: absolute; WIDTH: 26px; BOTTOM: 0px; BACKGROUND: 0px 0px; TOP: auto; LEFT: 680px
}
.hotel_room_list .price_jj {
	COLOR: #fd6c03
}
.hotel_room_list .price_20 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.hotel_room_list .fanxian {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 29px; PADDING-RIGHT: 0px; BACKGROUND: url(../image/fanxian_bgbg.gif) no-repeat; COLOR: #ff0000; PADDING-TOP: 0px
}
.hotel_room_list .icon_chakan {
	TEXT-ALIGN: center; PADDING-TOP: 4px
}
.icon_chakan .btn_yd {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 50px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -319px; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.icon_chakan .btn_mf {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 50px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -288px; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.icon_chakan .btn_ck {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 50px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -139px; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.hotel_room_list .all_icon {
	WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../image/paixu_icon8.gif) no-repeat -1px -183px; HEIGHT: 5px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle
}
.hotel_room_list .all_icon01 {
	WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../image/paixu_icon8.gif) no-repeat -1px -203px; HEIGHT: 5px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle
}
.hotel_room_list .ag_r {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: right; LINE-HEIGHT: 30px; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 30px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.hotel_room_list .boder_0 {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.hotel_room_list .liwu_pic {
	WIDTH: 19px; DISPLAY: inline-block; HEIGHT: 20px; MARGIN-RIGHT: 5px
}
.list_srh_ul .right_text {
	POSITION: absolute; TEXT-ALIGN: right; LINE-HEIGHT: 30px; WIDTH: 40px; PADDING-RIGHT: 3px; HEIGHT: 28px; COLOR: #999999; MARGIN-LEFT: 80px
}
.search_lit .right_text {
	POSITION: absolute; TEXT-ALIGN: right; LINE-HEIGHT: 30px; WIDTH: 40px; PADDING-RIGHT: 3px; HEIGHT: 28px; COLOR: #999999; MARGIN-LEFT: 80px
}
.wid_60 {
	WIDTH: 60px
}
.wid_120 {
	WIDTH: 120px
}
.pag3_div_down {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; MARGIN: 20px 10px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 26px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
.pag3_div_down UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pag3_div_down UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.pag3_div_down UL LI.page_on {
	BORDER-BOTTOM: #ff5500 1px solid; BORDER-LEFT: #ff5500 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; HEIGHT: 24px; COLOR: #ff5500; BORDER-TOP: #ff5500 1px solid; BORDER-RIGHT: #ff5500 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.pag3_div_down UL LI A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #fff; FLOAT: left; HEIGHT: 24px; COLOR: #0063dc; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.pag3_div_down UL LI A:hover {
	BORDER-BOTTOM: #ff5500 1px solid; BORDER-LEFT: #ff5500 1px solid; COLOR: #ff5500; BORDER-TOP: #ff5500 1px solid; BORDER-RIGHT: #ff5500 1px solid; TEXT-DECORATION: none
}
.pag3_div_down UL LI SPAN.like-a {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #fff; FLOAT: left; HEIGHT: 24px; COLOR: #0063dc; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.pag3_div_down .page_1 {
	MARGIN-TOP: 6px; WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../image/page_ico.gif) no-repeat 0px 1px; HEIGHT: 11px; OVERFLOW: hidden; MARGIN-RIGHT: 5px
}
.pag3_div_down .page_2 {
	MARGIN-TOP: 6px; WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../image/page_ico.gif) no-repeat 0px -23px; HEIGHT: 11px; OVERFLOW: hidden; MARGIN-RIGHT: 5px
}
.pag3_div_down .page_3 {
	MARGIN-TOP: 6px; WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../image/page_ico.gif) no-repeat 0px -34px; HEIGHT: 11px; MARGIN-LEFT: 5px; OVERFLOW: hidden
}
.pag3_div_down .page_4 {
	MARGIN-TOP: 6px; WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../image/page_ico.gif) no-repeat 0px -11px; HEIGHT: 11px; MARGIN-LEFT: 5px; OVERFLOW: hidden
}
.mn_box {
	BORDER-BOTTOM: #cccccc 1px; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.mn_box .top {
	BORDER-BOTTOM: #e6e6e6 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; BACKGROUND: #f2f2f2; HEIGHT: 28px; COLOR: #333; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.mn_box .bg {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; WIDTH: 176px; PADDING-RIGHT: 6px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.mn_box .why_us LI {
	LINE-HEIGHT: 18px; PADDING-LEFT: 20px; WIDTH: 152px; MARGIN-BOTTOM: 10px; BACKGROUND: url(../image/icon_arrow.gif) no-repeat 0px -267px; COLOR: #666
}
.mn_box .bg2 {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 8px; WIDTH: 195px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 12px
}
.mn_box .why_us2 LI {
	LINE-HEIGHT: 18px; PADDING-LEFT: 20px; WIDTH: 180px; MARGIN-BOTTOM: 10px; BACKGROUND: url(../image/icon_arrow.gif) no-repeat 0px -267px; COLOR: #666
}
.list_history {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list_history A {
	WIDTH: 110px; DISPLAY: inline-block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.list_history SPAN {
	TEXT-ALIGN: right; WIDTH: 60px; DISPLAY: inline-block; FLOAT: right
}
.list_history .closed_hot {
	WIDTH: 13px; DISPLAY: inline-block; BACKGROUND: url(../image/noteclose.gif) no-repeat; HEIGHT: 13px; MARGIN-LEFT: 8px; VERTICAL-ALIGN: middle
}
.bod_b_1 {
	BORDER-BOTTOM: #cccccc 1px solid
}
.seenHotel {
	BORDER-BOTTOM: #f3f3f3 1px solid; MARGIN: 10px auto; WIDTH: 170px; HEIGHT: 70px; COLOR: #808080
}
.seenHotel IMG {
	WIDTH: 60px; BACKGROUND: #cccccc 0px 0px; FLOAT: left; HEIGHT: 60px
}
.seenHotel DT {
	LINE-HEIGHT: 15px; WIDTH: 100px; FLOAT: right
}
.seenHotel DD {
	LINE-HEIGHT: 16px; WIDTH: 100px; FONT-FAMILY: Arial; FLOAT: right; HEIGHT: 16px; COLOR: #ef6c00
}
.xyf_icon {
	WIDTH: 45px; DISPLAY: inline-block; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -18px; HEIGHT: 15px; MARGIN-LEFT: 2px; CURSOR: pointer
}
.fan_icon {
	TEXT-ALIGN: left; LINE-HEIGHT: 15px; TEXT-INDENT: 18px; WIDTH: 45px; DISPLAY: inline-block; FONT-FAMILY: "Times New Roman", Times, serif; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -35px; HEIGHT: 15px; COLOR: #ff5900; MARGIN-LEFT: 2px; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: bolder
}
.icon_info {
	WIDTH: 14px; DISPLAY: inline-block; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -52px; HEIGHT: 14px; MARGIN-LEFT: 5px; CURSOR: pointer
}
.hotelserch {
	COLOR: #868686
}
.magr_20 {
	MARGIN-RIGHT: 20px
}
.hotelserch_but {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 65px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -352px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 25px; COLOR: #fff; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.bdshare_b {
	LINE-HEIGHT: 12px
}
.citylist-tab {
	Z-INDEX: 9999; POSITION: absolute; TEXT-ALIGN: center; WIDTH: 382px; DISPLAY: none; BACKGROUND: #ffffff; COLOR: #333333; TOP: 30px; CURSOR: auto; LEFT: 0px
}
.citylist-tab .close {
	BORDER-BOTTOM: #c6c6c6 1px solid; POSITION: absolute; BORDER-LEFT: #c6c6c6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ffffff; COLOR: #999999; BORDER-TOP: #c6c6c6 1px solid; TOP: 5px; CURSOR: pointer; RIGHT: 5px; BORDER-RIGHT: #c6c6c6 1px solid; PADDING-TOP: 0px
}
.citylist-tab .neiBor {
	Z-INDEX: 9999; BORDER-BOTTOM: #2288ee 1px solid; BORDER-LEFT: #2288ee 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 1%; BORDER-TOP: #2288ee 1px solid; BORDER-RIGHT: #2288ee 1px solid; PADDING-TOP: 0px
}
.citylist-tab .citylist-nav {
	BORDER-BOTTOM: #2288ee 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; WIDTH: 370px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #e0f3f7; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 5px
}
.serch_box .serch_ul .citylist-nav LI {
	HEIGHT: 24px
}
.citylist-tab .citylist-nav LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; HEIGHT: 24px; COLOR: #07679c; CURSOR: pointer; PADDING-TOP: 0px
}
.citylist-tab .citylist-nav LI.current {
	BORDER-BOTTOM: #fff 1px solid; POSITION: relative; BORDER-LEFT: #2288ee 1px solid; LINE-HEIGHT: 23px; MARGIN-BOTTOM: -1px; BACKGROUND: #ffffff; HEIGHT: 23px; BORDER-TOP: #2288ee 1px solid; TOP: 0px; CURSOR: auto; FONT-WEIGHT: bold; BORDER-RIGHT: #2288ee 1px solid
}
.citylist-tab .panel-content {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; WIDTH: 365px; PADDING-RIGHT: 5px; CLEAR: both; PADDING-TOP: 5px
}
.citylist-tab .panel-content P {
	CLEAR: both
}
.citylist-tab .panel-content A {
	PADDING-RIGHT: 12px; WHITE-SPACE: nowrap; FLOAT: left
}
.citylist-tab .panel-content .space_05 {
	CLEAR: both
}
#content .th_main .citylist-tab {
	Z-INDEX: 9998; TOP: 25px; LEFT: 0px
}
.list_seach_bot2 {
	BORDER-BOTTOM: #e7e7e7 1px; BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #f5f5f5; COLOR: #666; VERTICAL-ALIGN: baseline; BORDER-TOP: #e7e7e7 1px; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 6px
}
.list_seach_bot2 STRONG {
	COLOR: #ff0000
}
.list_seach_bot2 SPAN {
	PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 17px; DISPLAY: inline-block; BACKGROUND: url(../image/ico11.gif) #2288ee no-repeat right 6px; COLOR: #ffffff; VERTICAL-ALIGN: top; CURSOR: pointer; PADDING-TOP: 2px
}
.list_seach_bot2 EM {
	FONT-STYLE: normal; COLOR: #0055aa; MARGIN-LEFT: 12px; CURSOR: pointer
}
.list_srh_ul .citylist-tab {
	LEFT: 57px
}
.hotel_inftip {
	BORDER-BOTTOM: #ffd57f 1px solid; BORDER-LEFT: #ffd57f 1px solid; PADDING-BOTTOM: 20px; MARGIN: 10px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fdf7ea; CLEAR: both; BORDER-TOP: #ffd57f 1px solid; BORDER-RIGHT: #ffd57f 1px solid; PADDING-TOP: 20px
}
.hotel_inftiptx {
	PADDING-LEFT: 50px; BACKGROUND: url(../image/tip_no.gif) no-repeat 5px 0px
}
.hotel_inftiptx LI {
	COLOR: #666
}
.hotel_inftiptx LI A {
	MARGIN: 0px 2px; COLOR: #0053aa
}
#m_contentedHotSugstAll {
	DISPLAY: none
}
.poi-popup {
	POSITION: relative; WIDTH: 520px
}
.poi-popup .cnt {
	BORDER-BOTTOM: #ccc 5px solid; POSITION: absolute; BORDER-LEFT: #ccc 5px solid; WIDTH: 500px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #ccc 5px solid; TOP: 10px; BORDER-RIGHT: #ccc 5px solid; LEFT: 10px
}
.poi-popup .cnt .Htitle {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.poi-popup .cnt .movePinp {
	MARGIN-TOP: 10px
}
.poi-popup .cnt .movePinp LI {
	WIDTH: 95px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
.poi-popup .cnt .movePinp LI INPUT {
	HEIGHT: 25px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.poi-popup .cnt .Hbot {
	PADDING-BOTTOM: 1px; MARGIN: 0px 50px 10px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 1px
}
.poi-popup .cnt .box2 LI {
	WHITE-SPACE: nowrap
}
.poi-popup .cnt .box2 A {
	WHITE-SPACE: nowrap
}
.poi-popup INPUT.keyword {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; WIDTH: 225px; PADDING-RIGHT: 20px; FONT-FAMILY: Tahoma; HEIGHT: 20px; COLOR: #777; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.poi-popup INPUT.submit {
	BORDER-BOTTOM: #f7a238 1px solid; BORDER-LEFT: #f7a238 1px solid; OUTLINE-STYLE: solid; OUTLINE-COLOR: #f7a238; OUTLINE-WIDTH: 1px; WIDTH: 48px; BACKGROUND: #ffc136; HEIGHT: 27px; COLOR: #fff; VERTICAL-ALIGN: middle; BORDER-TOP: #f7a238 1px solid; CURSOR: progress; BORDER-RIGHT: #f7a238 1px solid
}
.poi-popup .cnt UL.caty LI {
	Z-INDEX: 10; POSITION: relative; TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 2px
}
.poi-popup .cnt UL.caty LI.line {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #aaa; PADDING-TOP: 2px
}
.poi-popup .cnt UL.caty LI A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 3px
}
.poi-popup .cnt UL.caty LI.on A {
	BACKGROUND: #36c; COLOR: #fff; TEXT-DECORATION: none
}
.poi-popup .cnt UL.caty LI.on SPAN {
	POSITION: absolute; WIDTH: 9px; BOTTOM: -9px; DISPLAY: inline-block; BACKGROUND: url(../image/hotels2012.png?t=201208141030) no-repeat -15px -178px; HEIGHT: 6px; OVERFLOW: hidden; LEFT: 45%
}
.poi-popup .cnt .box2 {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; MARGIN-TOP: 8px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid
}
.poi-popup .cnt .box2 LI {
	WHITE-SPACE: nowrap
}
.poi-popup .cnt .box2 A {
	WHITE-SPACE: nowrap
}
.poi-popup .cnt .box2 .group {
	BORDER-BOTTOM: #d0d0d0 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.poi-popup .cnt .box2 .groupno {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.poi-popup .cnt .box2 .group UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; FLOAT: left; COLOR: #36c; CURSOR: pointer; PADDING-TOP: 0px
}
.poi-popup .cnt .box2 .group UL LI.on {
	BACKGROUND: #36c; COLOR: #fff
}
.poi-popup .cnt .box2 .links_box {
	LINE-HEIGHT: 2em
}
.poi-popup .cnt .box2 .links_box A {
	PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: left; HEIGHT: 20px; COLOR: #3366cc
}
A.com_close {
	TEXT-INDENT: -9999em; WIDTH: 11px; DISPLAY: block; FONT: 1px/1px arial; BACKGROUND: url(../image/el_com.png?t=201208151604) no-repeat 0px -99px; HEIGHT: 11px
}
A.com_close:hover {
	BACKGROUND-POSITION: 0px -116px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.bold {
	FONT-WEIGHT: bold
}
.normal {
	FONT-WEIGHT: normal
}
.t11 {
	FONT-SIZE: 11px
}
.t12 {
	FONT-SIZE: 12px
}
.t14 {
	FONT-SIZE: 14px
}
.t16 {
	FONT-SIZE: 16px
}
.arial {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
.simsun {
	FONT-FAMILY: simsun
}
.top_line {
	BORDER-TOP: #ddd 1px solid
}
.black {
	COLOR: #131313
}
.l_black {
	COLOR: #777
}
.orange {
	COLOR: #c96702
}
.red {
	COLOR: #f00
}
.green {
	COLOR: #10a200
}
.none {
	DISPLAY: none
}
.tl {
	TEXT-ALIGN: left
}
.tr {
	TEXT-ALIGN: right
}
.tc {
	TEXT-ALIGN: center
}
.m5 {
	MARGIN: 5px
}
.m10 {
	MARGIN: 10px
}
.m15 {
	MARGIN: 15px
}
.m20 {
	MARGIN: 20px
}
.p5 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.p10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.p15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.p20 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.mt5 {
	MARGIN-TOP: 5px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt15 {
	MARGIN-TOP: 15px
}
.mt20 {
	MARGIN-TOP: 20px
}
.mb5 {
	MARGIN-BOTTOM: 5px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mb15 {
	MARGIN-BOTTOM: 15px
}
.mb20 {
	MARGIN-BOTTOM: 20px
}
.ml5 {
	MARGIN-LEFT: 5px
}
.ml10 {
	MARGIN-LEFT: 10px
}
.ml15 {
	MARGIN-LEFT: 15px
}
.ml20 {
	MARGIN-LEFT: 20px
}
.ml30 {
	MARGIN-LEFT: 30px
}
.mr5 {
	MARGIN-RIGHT: 5px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.mr15 {
	MARGIN-RIGHT: 15px
}
.mr20 {
	MARGIN-RIGHT: 20px
}
.pt5 {
	PADDING-TOP: 5px
}
.pt10 {
	PADDING-TOP: 10px
}
.pt15 {
	PADDING-TOP: 15px
}
.pt20 {
	PADDING-TOP: 20px
}
.pb5 {
	PADDING-BOTTOM: 5px
}
.pb10 {
	PADDING-BOTTOM: 10px
}
.pb15 {
	PADDING-BOTTOM: 15px
}
.pb20 {
	PADDING-BOTTOM: 20px
}
.pb30 {
	PADDING-BOTTOM: 30px
}
.pl5 {
	PADDING-LEFT: 5px
}
.pl10 {
	PADDING-LEFT: 10px
}
.pl15 {
	PADDING-LEFT: 15px
}
.pl20 {
	PADDING-LEFT: 20px
}
.pr5 {
	PADDING-RIGHT: 5px
}
.pr10 {
	PADDING-RIGHT: 10px
}
.pr15 {
	PADDING-RIGHT: 15px
}
.pr20 {
	PADDING-RIGHT: 20px
}
.hidden {
	DISPLAY: none
}
.clear {
	LINE-HEIGHT: 0; MARGIN: 0px auto; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.clx {
	ZOOM: 1
}
.clx:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; COLOR: #131313; CLEAR: both; CONTENT: "."
}
.h30 {
	HEIGHT: 30px
}
.hotelserch_but {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 65px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -352px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 25px; COLOR: #666; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.title_top {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 3px; MARGIN-BOTTOM: 10px; HEIGHT: 60px
}
.top_left {
	WIDTH: 650px; FLOAT: left; HEIGHT: 60px
}
.top_right {
	TEXT-ALIGN: right; MARGIN-TOP: 5px; WIDTH: 300px; FLOAT: right; HEIGHT: 60px
}
.photo_fl {
	WIDTH: 677px; FLOAT: left; HEIGHT: 235px
}
.big_photo {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 348px; BACKGROUND: #ededed; FLOAT: left; HEIGHT: 233px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.small_photo {
	WIDTH: 320px; FLOAT: right; HEIGHT: 235px; OVERFLOW: hidden
}
.slide_pic_list {
	DISPLAY: block; OVERFLOW: hidden
}
.slide_pic_list LI {
	POSITION: relative; MARGIN: 0px 5px 5px 0px; WIDTH: 100px; FLOAT: left; HEIGHT: 75px; OVERFLOW: hidden; CURSOR: pointer
}
.slide_pic_list .img_list_name {
	POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=70)\0/; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #4c4c4c; WIDTH: 100px; BOTTOM: 0px; DISPLAY: block; HEIGHT: 20px; COLOR: #eeeeee; OVERFLOW: hidden; LEFT: 0px
}
.top_price {
	LINE-HEIGHT: 30px; MARGIN-BOTTOM: 5px; HEIGHT: 30px; COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.top_price .price_txt {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", "ºÚÌå"; COLOR: #ff5900; FONT-SIZE: 28px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.red_txt A {
	TEXT-ALIGN: right; COLOR: #ff0000
}
.tuan_icon {
	WIDTH: 47px; DISPLAY: inline-block; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat; HEIGHT: 16px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 3px
}
.pingj {
	HEIGHT: 70px; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 20px
}
.pingj .good_pj {
	TEXT-ALIGN: right; FONT-FAMILY: "Î¢ÈíÑÅºÚ", "ºÚÌå"; HEIGHT: 30px; COLOR: #005bb5; FONT-SIZE: 22px; FONT-WEIGHT: bold
}
.pingj .good {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #c60000; COLOR: #fff; FONT-SIZE: 12px; MARGIN-RIGHT: 5px; PADDING-TOP: 4px
}
.pingj .good1 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ff6200; COLOR: #fff; FONT-SIZE: 12px; MARGIN-RIGHT: 5px; PADDING-TOP: 4px
}
.pingj .good2 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #4c94db; COLOR: #fff; FONT-SIZE: 12px; MARGIN-RIGHT: 5px; PADDING-TOP: 4px
}
.font_12 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.right_dpzs {
	MARGIN-TOP: 10px; FLOAT: right
}
.right_price {
	WIDTH: 296px; FLOAT: right; HEIGHT: 235px; OVERFLOW: hidden
}
.dianping_box {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../image/xx01253.gif) #f0f7fc no-repeat right top; HEIGHT: 125px; PADDING-TOP: 20px
}
.dianping_boxwz {
	WIDTH: 276px; MARGIN-BOTTOM: 14px; HEIGHT: 56px; OVERFLOW: hidden
}
.dianping_box P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dp_tx {
	MARGIN: 0px 5px; WIDTH: 15px; DISPLAY: inline-block; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -68px; HEIGHT: 12px; CURSOR: pointer
}
.ho_box {
	MARGIN-TOP: 15px
}
.ho_box .top_hobox {
	LINE-HEIGHT: 32px; PADDING-LEFT: 15px; BACKGROUND: url(../image/main_bg.gif) no-repeat left top; HEIGHT: 32px
}
.ho_box .top_hobox H2 {
	COLOR: #005bb5; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.ho_box .main_hobox {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; BORDER-TOP: #cdcdcd 1px; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 15px
}
.ho_box .main_hobox .ssdl {
	BORDER-BOTTOM: #e6e6e6 1px solid; WIDTH: 700px; HEIGHT: 1%; COLOR: #555555; FONT-SIZE: 12px; OVERFLOW: auto
}
.ho_box .main_hobox .ssdl DT {
	LINE-HEIGHT: 25px; WIDTH: 80px; FLOAT: left; COLOR: #000000
}
.ho_box .main_hobox .ssdl DD {
	LINE-HEIGHT: 25px; WIDTH: 600px; FLOAT: right
}
.dianp {
	WIDTH: 100%; COLOR: #535353
}
.dianp LI {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; FLOAT: left; CLEAR: both; PADDING-TOP: 5px
}
.dianp .left {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 82px; PADDING-RIGHT: 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -80px; FLOAT: left; HEIGHT: 44px; COLOR: #ff6600; FONT-SIZE: 24px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.dianp .right {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px; WIDTH: 620px; FLOAT: right
}
.font_16 {
	FONT-SIZE: 16px
}
.pingjia_bg {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; PADDING-TOP: 15px
}
.comment_top {
	BORDER-BOTTOM: #d7e2eb 2px solid; WIDTH: 725px; MARGIN-BOTTOM: 15px; BACKGROUND: #f0f7fc; HEIGHT: 100px
}
.comment_top .left {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 25px; WIDTH: 460px; PADDING-RIGHT: 0px; FONT-FAMILY: "Î¢ÈíÑÅºÚ", "ºÚÌå"; BACKGROUND: url(../image/xx1254.gif) no-repeat right top; FLOAT: left; COLOR: #000; FONT-SIZE: 16px; PADDING-TOP: 25px
}
.comment_top .left P {
	MARGIN-TOP: 6px; FONT-SIZE: 12px
}
.comment_top .right {
	TEXT-ALIGN: center; PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; WIDTH: 190px; PADDING-RIGHT: 25px; FLOAT: right; PADDING-TOP: 25px
}
.MenuMain #container {
	BORDER-BOTTOM: #d7e2eb 2px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 15px 10px 15px 15px; WIDTH: 725px; BACKGROUND: #f0f7fc; HEIGHT: 400px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.dp_but {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; TEXT-INDENT: 26px; WIDTH: 86px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -385px; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.dp_butbox {
	MARGIN-TOP: 15px
}
.font14_h {
	COLOR: #333; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.font24 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 24px
}
.photo_fla {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.photo_but {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 15px
}
.photo_but .photo_htel {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; TEXT-INDENT: 26px; WIDTH: 86px; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -140px; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 20px; BORDER-RIGHT: medium none
}
.photo_but .photo_360 {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; TEXT-INDENT: 26px; WIDTH: 86px; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat 0px -167px; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 12px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.big_pic {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 550px; HEIGHT: 412px
}
.pic_dec {
	PADDING-BOTTOM: 6px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 550px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.pic_dec P {
	DISPLAY: inline; MARGIN-BOTTOM: 8px; FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.small_pic {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 90px; PADDING-TOP: 0px
}
.pic_list {
	POSITION: absolute; WIDTH: 610px; HEIGHT: 64px; OVERFLOW: hidden; LEFT: 63px
}
.pic_list .pic_box {
	POSITION: relative; WIDTH: 9999px
}
.pic_box A {
	BORDER-BOTTOM: #ffffff 2px solid; POSITION: relative; BORDER-LEFT: #ffffff 2px solid; WIDTH: 80px; DISPLAY: inline; FLOAT: left; HEIGHT: 60px; OVERFLOW: hidden; BORDER-TOP: #ffffff 2px solid; MARGIN-RIGHT: 4px; BORDER-RIGHT: #ffffff 2px solid
}
.pic_box .img_list_name {
	POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=70)\0/; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #4c4c4c; WIDTH: 80px; BOTTOM: 0px; DISPLAY: block; HEIGHT: 20px; COLOR: #eeeeee; OVERFLOW: hidden; LEFT: 0px
}
.pic_box A:hover {
	BORDER-BOTTOM: #fffa7f 2px solid; BORDER-LEFT: #fffa7f 2px solid; BORDER-TOP: #fffa7f 2px solid; BORDER-RIGHT: #fffa7f 2px solid
}
.page_up_disable {
	POSITION: absolute; WIDTH: 11px; BACKGROUND: url(../image/page_updow.gif) no-repeat 0px 0px; HEIGHT: 21px; TOP: 26px; CURSOR: default; LEFT: 44px
}
.page_down_disable {
	POSITION: absolute; WIDTH: 19px; BACKGROUND: url(../image/page_updow.gif) no-repeat 0px -21px; HEIGHT: 36px; TOP: 26px; LEFT: 685px
}
.pic_360 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 550px; PADDING-RIGHT: 0px; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.pic_360 P {
	DISPLAY: inline; MARGIN-BOTTOM: 8px; FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.pic_360but {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 166px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pic_360but LI {
	WIDTH: 32px; DISPLAY: inline-block; HEIGHT: 32px; CURSOR: pointer; MARGIN-RIGHT: 20px
}
.pic_360but .pic_left {
	BACKGROUND: url(../image/page_updow.gif) no-repeat 0px -49px
}
.pic_360but .pic_stop {
	BACKGROUND: url(../image/page_updow.gif) no-repeat -37px -49px
}
.pic_360but .pic_right {
	BACKGROUND: url(../image/page_updow.gif) no-repeat -74px -49px
}
.pic_360but .pic_left_on {
	BACKGROUND: url(../image/page_updow.gif) no-repeat 0px -83px
}
.pic_360but .pic_stop_on {
	BACKGROUND: url(../image/page_updow.gif) no-repeat -37px -83px
}
.pic_360but .pic_right_on {
	BACKGROUND: url(../image/page_updow.gif) no-repeat -73px -83px
}
.part2_box {
	MARGIN-TOP: 10px
}
.part2_box .side_l {
	WIDTH: 220px; FLOAT: left
}
.part2_box .side_r {
	WIDTH: 750px; FLOAT: right; OVERFLOW: hidden
}
.Menubox {
	BORDER-BOTTOM: #ff5700 2px solid; LINE-HEIGHT: 30px; WIDTH: 100%; HEIGHT: 30px
}
.Menubox UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.Menubox LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; MARGIN: 0px 5px; WIDTH: 94px; DISPLAY: block; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -210px; FLOAT: left; HEIGHT: 30px; CURSOR: pointer
}
.Menubox LI A {
	COLOR: #000; FONT-WEIGHT: normal
}
.Menubox LI.hover {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 0px 5px; PADDING-LEFT: 0px; WIDTH: 94px; PADDING-RIGHT: 0px; BACKGROUND: url(../image/srh_butbg.gif) no-repeat 0px -174px; HEIGHT: 30px; COLOR: #fff; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.Menubox LI.hover A {
	COLOR: #fff; FONT-WEIGHT: bold
}
.col_9 {
	COLOR: #999
}
.db_icon {
	WIDTH: 33px; DISPLAY: inline-block; BACKGROUND: url(../image/tuan_floatico.gif) no-repeat -56px 0px; HEIGHT: 15px; MARGIN-LEFT: 2px; CURSOR: pointer
}
.date_info {
	Z-INDEX: 12; POSITION: relative; LINE-HEIGHT: 30px; MARGIN-TOP: 7px; TEXT-INDENT: 11px; BACKGROUND: #ffffff; HEIGHT: 30px; COLOR: #333
}
.date_info IMG {
	MARGIN-BOTTOM: 5px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
.com_way {
	Z-INDEX: 99; BORDER-BOTTOM: #666 1px solid; POSITION: absolute; BORDER-LEFT: #666 1px solid; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid
}
.com_way_son {
	BORDER-BOTTOM: #e8e8e8 3px solid; BORDER-LEFT: #e8e8e8 3px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP: #e8e8e8 3px solid; BORDER-RIGHT: #e8e8e8 3px solid; PADDING-TOP: 6px
}
.com_way_son PRE {
	WIDTH: 360px; OVERFLOW: hidden; WORD-BREAK: break-all
}
.com_arrow1 {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 13px; BACKGROUND: url(../image/icon_hc.gif) no-repeat 0px -800px; HEIGHT: 9px; OVERFLOW: hidden
}
.com_way_son SPAN {
	COLOR: #f00
}
.com_arrow2 {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 13px; BACKGROUND: url(../image/icon_hc.gif) no-repeat 0px -810px; HEIGHT: 9px; OVERFLOW: hidden
}
.com_way_son .PriceAll TH {
	BORDER-BOTTOM: #e5e5e5 1px solid; LINE-HEIGHT: 2em; BACKGROUND: #f6f6f6
}
.com_way_son .PriceAll TD {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
#showDate {
	DISPLAY: inline-block
}
.gift {
	WIDTH: 19px; DISPLAY: inline-block; BACKGROUND: url(../image/gift.gif) no-repeat 0px 0px; HEIGHT: 21px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: -3px; CURSOR: pointer
}
#fill_order #right H2 {
	LINE-HEIGHT: 20px
}
.main_hobox UL.NearPoi LI .pl {
	TEXT-ALIGN: right; WIDTH: 50px; DISPLAY: inline-block; FLOAT: right; COLOR: #999999
}
.main_hobox .NearPoi A {
	COLOR: #1568bd
}
.main_hobox .NearPoi A:visited {
	COLOR: #1568bd
}
.main_hobox UL.NearPoi {
	WIDTH: 100%; DISPLAY: table; MARGIN-LEFT: 5px
}
.main_hobox UL.NearPoi LI {
	LINE-HEIGHT: 1.6em; WIDTH: 225px; FLOAT: left; COLOR: #666666; MARGIN-LEFT: 5px
}
.main_hobox UL.NearPoi LI .pn {
	WIDTH: 165px; DISPLAY: inline-block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.main_hobox UL.NearPoi LI .pn A.pnt {
	COLOR: #666666
}
.main_hobox UL.NearPoi LI .pl {
	TEXT-ALIGN: right; WIDTH: 50px; DISPLAY: inline-block; FLOAT: right; COLOR: #999999
}
.dialog {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: auto; CLEAR: both; PADDING-TOP: 0px
}
.dialog .loading {
	MARGIN: 18px 0px 14px
}
.dialog P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #07679c; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.dialog .guanggao {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 20px
}
.PriceAll {
	FONT-SIZE: 12px
}
.PriceAll TH {
	TEXT-ALIGN: left
}
.ui_list_csyw {
	Z-INDEX: 1; BORDER-BOTTOM: #2288ee 1px solid; POSITION: absolute; BORDER-LEFT: #2288ee 1px solid; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 220px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #fff; FLOAT: left; FONT-SIZE: 12px; BORDER-TOP: #2288ee 1px solid; TOP: 20px; BORDER-RIGHT: #2288ee 1px solid; PADDING-TOP: 0px; LEFT: 45px
}
.ui_list_csyw .ui_list_csywli {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; ZOOM: 1; FLOAT: left; CLEAR: left; PADDING-TOP: 0px
}
.ui_list_csyw .ui_list_csywli SPAN {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 110px; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ui_list_csyw .ui_list_csywli A {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LINE-HEIGHT: 22px; MIN-HEIGHT: 22px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; ZOOM: 1; DISPLAY: block; HEIGHT: 22px; COLOR: #0055aa; OVERFLOW: hidden; BORDER-TOP: #ffffff 1px solid; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.ui_list_csyw .ui_list_csywli A:hover {
	BORDER-BOTTOM: #2288ee 1px solid; BACKGROUND: #e0f3f7; BORDER-TOP: #2288ee 1px solid
}
SPAN.reduction {
	TEXT-INDENT: -10000px; WIDTH: 6px; DISPLAY: inline-block; BACKGROUND: url(../image/icon_01215005.gif) no-repeat 0px 4px; HEIGHT: 11px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: -1px; CURSOR: pointer
}
SPAN.plus {
	TEXT-INDENT: -10000px; WIDTH: 6px; DISPLAY: inline-block; BACKGROUND: url(../image/icon_01215005.gif) no-repeat 0px -8px; HEIGHT: 11px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: -1px; CURSOR: pointer
}
.MenuMain {
	MARGIN-BOTTOM: 5px
}
.date_2012917 {
	DISPLAY: inline
}
.zindex10 {
	Z-INDEX: 10
}
.tuan_nav {
	MARGIN: 5px 0px 0px; PADDING-LEFT: 30px; BACKGROUND: url(../image/tuan_bg02154.gif) no-repeat 0px 0px; HEIGHT: 30px
}
.tuan_nav P {
	LINE-HEIGHT: 30px; WIDTH: 660px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden
}
#main .tuan_nav P A {
	COLOR: #ff6600
}
.tuan_nav SPAN {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; WIDTH: 50px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 3px
}
.tuan_nav SPAN INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 24px; MARGIN: 0px; WIDTH: 50px; BACKGROUND: url(../image/tuan_but012.gif) no-repeat 0px 0px; HEIGHT: 24px; COLOR: #ffffff; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.font_16b {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.sc-but {
	TEXT-ALIGN: right; TEXT-INDENT: 10px; DISPLAY: inline; MARGIN-LEFT: 10px
}
.sc-but A {
	TEXT-ALIGN: right; LINE-HEIGHT: 22px; WIDTH: 70px; PADDING-RIGHT: 6px; DISPLAY: inline-block; BACKGROUND: url(../image/but.gif) no-repeat; HEIGHT: 22px; COLOR: #fd5602
}
#m_contentend {
	DISPLAY: none
}
#SevenDay {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.7em; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
#SevenDay H1 {
	LINE-HEIGHT: 24px; FONT-FAMILY: SimHei; COLOR: #c96702; FONT-SIZE: 20px
}
#SevenDay .LoginBox {
	WIDTH: 200px; PADDING-RIGHT: 70px; BORDER-RIGHT: #636363 1px solid
}
#SevenDay .LoginBox LI {
	MARGIN-BOTTOM: 10px
}
#SevenDay .LoginBox1 {
	PADDING-LEFT: 70px
}
#SevenDay .LoginBox1 LI {
	MARGIN-BOTTOM: 10px
}
#SevenDay .inp155 {
	WIDTH: 155px
}
#SevenDay .inp255 {
	WIDTH: 255px
}
#SevenDay .search_bt {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#SevenDay .search_bt_an {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#SevenDay .FillBox {
	PADDING-LEFT: 30px
}
#SevenDay .FillBox LI {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 12px
}
#SevenDay .FillBox LI H1 {
	LINE-HEIGHT: 24px; FONT-FAMILY: SimHei; COLOR: #c96702; FONT-SIZE: 20px
}
#SevenDay .spbk {
	TEXT-ALIGN: right; WIDTH: 70px; DISPLAY: inline-block
}
.newDB_h3but {
	POSITION: relative; LINE-HEIGHT: 22px; PADDING-LEFT: 25px; WIDTH: 82px; DISPLAY: inline-table; BACKGROUND: url(../image/newDB_h3but.png) no-repeat; HEIGHT: 22px; COLOR: #444; MARGIN-LEFT: 10px; FONT-SIZE: 12px; CURSOR: pointer; FONT-WEIGHT: normal
}
.newDB_h3but IMG {
	POSITION: absolute; TOP: 7px; LEFT: 10px
}
.newDB_box DT {
	BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 18px; TEXT-INDENT: 10px; MARGIN: 5px 0px; COLOR: #005bb5; BORDER-TOP: #ddd 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ddd 1px solid; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px
}
.newDB_box DT SPAN {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 18px; PADDING-LEFT: 15px; WIDTH: 40px; DISPLAY: inline-table; BACKGROUND: #ededed; HEIGHT: 18px; COLOR: #444; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; TOP: -1px; CURSOR: pointer; RIGHT: -1px; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px
}
.newDB_box DT IMG {
	POSITION: absolute; TOP: 6px; LEFT: 8px
}
.newDB_box DD {
	PADDING-BOTTOM: 10px
}
#footer .foot_info DIV.reviewsfoot {
	POSITION: relative; PADDING-RIGHT: 50px; MARGIN-BOTTOM: 10px
}
#footer .foot_info DIV.foothide {
	HEIGHT: 1.6em; OVERFLOW: hidden
}
#footer .foot_info DIV.reviewsfoot SPAN {
	POSITION: absolute; LINE-HEIGHT: 1.6em; DISPLAY: block; TOP: 0px; CURSOR: pointer; RIGHT: 0px
}
