.header{ border-bottom:none; overflow:hidden}
.pd15{ padding:0 15px}

.linepage-main{ background-color:#fefefe; margin-bottom:30px}

.current-position{ color:#666; padding:15px 0 10px 0}
.current-position span{ color:#666; font-family:"宋体"; margin:0 5px}
.current-position a{ color:#666}
.current-position a:hover{ color:#2E98EA}

.title-tip{ position:relative; padding:10px 15px; background-color:#3b8df0; font-size:16px; color:#fff; font-weight:bold; margin-bottom:10px}
.title-tip .arrow-ie{ color:#fff}
.title-tip .blue-arrow2{ display:inline-block; width:20px; height:10px; background-position:-339px 0; position:absolute; bottom:-10px; left:40px}

.lm-l{ width:663px;}
.lm-l-section1{ width:661px; _overflow:hidden; border:1px #eee solid; background-color:#fff; margin-bottom:20px}
.lls1-title{ position:relative; padding:7px 15px; background-color:#fafafa}
.lls1-title h2{ position:relative; width:560px; font-size:14px; color:#333; font-weight:bold}
.show-map{ position:absolute; right:15px; top:13px; color:#3B8DF0}
.arrow-ie{ font-size:20px; color:#333; font-family:"Times New Roman"; margin:0 10px}
.geo-map-info{ position:relative; height:40px; line-height:40px; text-align:center}
.geo-map-info b{ font-family:"Arial"; font-size:14px;font-weight:bold; color:#333}
.geo-map-info sub{ font-size:100%; vertical-align:baseline}
.close-map{ position:absolute; right:0; top:10px; color:#999; font-size:18px; font-weight:bold; line-height:20px;}
.close-map:hover{ text-decoration:none; color:#666}
.geo-map{ height:265px; width:633px; overflow:hidden}

.line-ul1{ margin-bottom:26px}
.line-ul1 li{ border-bottom:1px #f3f3f3 solid}
.line-ul1 li label{ display:inline-block; width:125px; color:#999; padding:15px 0; font-size:14px; vertical-align:middle}
.line-ul1 li .a-line{ font-size:14px; color:#666; vertical-align:middle}
.line-ul1 li .a-line:hover{ color:#3083E7}
.pin-blue,.pin-yel{ display:inline-block; width:12px; height:19px; margin-right:5px; vertical-align:middle}
.pin-blue{ background-position:-44px -92px}
.pin-yel{ background-position:-57px -92px}
.out-time{display:inline-block; vertical-align:middle;font-size:14px; color:#3b8df0; font-weight:bold; font-family:"Arial"}
.clock{ display:inline-block; width:17px; height:17px; vertical-align:middle; background-position:-71px -92px; margin-right:5px}

.spe-s-ct{ height:155px; background-color:#fafafa; padding:15px; margin-top:10px; position:relative}
.spe-s-ct .dl1 dt{ float:left; width:50px; height:50px; overflow:hidden; padding:1px; border:1px #dedede solid; background-color:#fff; margin-right:10px}
.spe-s-ct .dl1 dt img{ width:50px; height:50px;}
.spe-s-ct .dl1 dd{ float:left; width:390px; line-height:22px; margin-top:-3px; color:#333}
.spe-s-ct .ul1{ margin-top:9px; color:#666; line-height:24px}
.spe-s-ct .ul1 label{ display:inline-block; width:196px;}
.spe-s-ct .line-car{ position:absolute; right:15px; bottom:15px; width:106px; height:82px; background-color:#fff; padding:4px}
.spe-s-ct .line-car img{ width:106px; height:82px}
.other-ct2{ padding:10px 0}
.other-ct2 p{ color:#999}

.feeedtable-new{ border-bottom:2px #3b8df0 solid;}
.feeedtable-new li{ float:left;}
.feeedtable-new li a{ display:inline-block; height:39px; line-height:39px; padding:0 20px;color:#333; font-size:14px}
.feeedtable-new li a:hover{ background-color:#f8f8f8; text-decoration:none}
.feeedtable-new li.current a{ background-color:#3b8df0;font-weight:bold; color:#fff}

.line-detail{ padding:20px 15px; border:1px #eee solid; border-top:none; background-color:#fff}
.line-detail .title{ border-bottom:1px #f3f3f3 solid; padding-bottom:10px; color:#333}
.line-detail .title strong{ color:#3b8df0}
.line-detail p{ text-indent:2em; line-height:22px; color:#666; margin-top:5px}
.line-detail p a{ color:#3b8df0}
.lc-ico,.jp-ico,.jy-ico{ display:inline-block; height:16px; vertical-align:middle; margin-right:5px}
.lc-ico{ width:15px; background-position:-119px -95px}
.jp-ico{ width:15px; background-position:-137px -95px}
.jy-ico{ width:18px; background-position:-156px -93px}

.about-line,.pker-option{ border:1px #eee solid; padding:15px; margin-top:20px; background-color:#fff}
.about-line .title,.pker-option .title{ margin-bottom:-6px}

.aa-list-item{}
.aa-list-item li{ position:relative; z-index:0; padding:15px 0 24px 0; width:632px; background:url('../images/line3.png') 0 bottom repeat-x}
.aa-list-item li.current{ background-color:#fbfbfb}
.ali-l dl{ padding-left:56px; position:relative}
.ali-l dt{ position:absolute; left:0px; top:5px; _top:3px; width:47px;height:47px}
.ali-l dt a{ display:block; padding:2px; border:1px #b3b3b3 solid; width:40px; height:40px; background-color:#fff; overflow:hidden}
.ali-l dt a:hover{ border-color:#2E98EA}
.ali-l dt img{ width:40px; height:40px;}

.ali-l dd { margin-top:4px; color:#666}
.ali-l dd strong{ color:#3b8df0; font-size:14px}
.ali-l dd a{ color:#333; font-size:14px; margin-right:10px; margin-bottom:5px; display:inline-block;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.ali-l dd a:hover{ color:#3B8DF0!important}

.ali-r{ position:absolute; right:0px; top:15px; color:#ccc; text-align:right}
.ali-r em{ color:#ff6600; font-size:26px;font-style:normal; font-family:"Arial"; margin-right:5px; display:inline-block; height:30px; line-height:30px; margin-bottom:5px;  vertical-align:middle}

.no-aboutline{ text-align:center; padding:40px 0 100px 0}
.no-aboutline span{ display:inline-block; width:300px; height:88px; background-position:0 -183px}
.no-option span{ background-position:0 -283px}


.al3-ct{ padding:0 15px}
.pk-point {  padding:8px 0 0 15px}
.pk-point li{ float:left; margin-bottom:0; margin-top:10px}

.po-fedtable{ height:30px; background-color:#f5f5f5; padding-left:15px; margin-top:20px}
.po-fedtable li{ float:left; margin-right:30px}
.po-fedtable li a{ display:inline-block; height:26px; line-height:26px; color:#666; padding:0 10px; border-bottom:3px #f5f5f5 solid}
.po-fedtable li a.current{ font-weight:bold; color:#3b8df0}
.po-fedtable li a.current,.po-fedtable li a:hover{ text-decoration:none; border-bottom-color:#3b8df0}

.tab-pj{ position:static;}
.al3-ct .tp-ct p{ width:530px}
.tab-pj td{ width:636px}

.tp-ct p.cr999{ font-family:"Arial"}
.pj-good, .pj-middle, .pj-ca{ margin-top:0; margin-bottom:7px}

/*分页*/
.pager3{padding:15px 0 15px 15px;text-align:right;  margin:20px auto 0 auto;COLOR:#333; clear:both;}
.pager3 a,.pager3 .dian{background-color:#fff;  padding:10px 15px; color:#333; margin-right:3px;border-radius:3px; text-decoration:none;}
.pager3 s.left-arrow,.pager3 s.right-arrow{background-position:-245px -26px; width:8px; height:12px; display:inline-block; vertical-align:middle}
.pager3 s.right-arrow{background-position:-234px -26px; margin-left:5px;}
.pager3 a:hover {padding:10px 15px;background-color:#eee; color:#666; border-radius:3px;margin-right:3px}
.pager3 a:active { padding:10px 15px; margin-right:3px;}
.pager3 span.clicked { padding:10px 15px; color:#FFF; margin-right:10px; background-color: #377bee; border-radius:3px;}

.ico-min{background-image:url('../images/ico-min.png')!important; background-repeat:no-repeat;}

.lm-r{ width:301px; margin-left:14px;}
.l-section1{ width:299px; border:1px #eee solid; border-bottom-color:#d9d9d9;  border-bottom-width:4px; margin-bottom:20px}
.l-section1 .title{ height:49px; line-height:49px; margin:0 15px; color:#999; border-bottom:1px #ddd dashed}
.l-section1 .title strong{color:#FF6600; font-family: "Arial"; font-size:30px; font-weight:normal}

.l-sec1-ct{ padding:0 15px}
.l-sec1-1{ padding:5px 0 0 0; font-size:14px; color:#666;}
.l-sec1-1 b{ font-family:"Arial"; font-size:22px; font-size:22px; color:#3b8df0}

.l-sec1-2{ padding:10px 0 15px 0}
.l-sec1-2 h3{ font-size:14px; font-weight:bold; color:#666}
.l-sec1-2 li{ float:left; display:inline; margin-top:10px}
.choice-pay{ cursor:pointer; display:inline-block; position:relative;border:2px #ddd solid; height:24px; color:#999}
.choice-pay .sp1,.choice-pay .sp2{ display:inline-block; height:24px; line-height:24px; overflow:hidden; vertical-align:middle; }
.choice-pay .sp1{ width:20px;font-size:14px; text-align:center; color:#333;font-weight:bold; background-color:#ddd;}
.choice-pay .sp2{ padding:0 5px; }
.choice-pay .sp2 b{ font-weight:bold; color:#3b8df0}
.choice-pay .sp2 .i1{ margin:0 5px; color:#d8d8d8}
.choice-pay .sp2 strong{ color:#ff6600; font-weight:bold}
.cp-current{ border-color:#2892df}
.cp-current .sp1{ background-color:#2892df; color:#fff}
.cp-current .sp2 .flat-ico{ position:absolute; right:-2px; bottom:-2px; _bottom:-6px; display:inline-block; width:10px; height:10px; background-position:-91px -96px}

.yel-btn3,.gray-btn6{  display:inline-block; width:268px; height:43px; line-height:43px; font-size:22px; text-align:center; color:#fff; background-color:#fb810c}
.yel-btn3:hover{ text-decoration:none; background-color:#ff9733}
.gray-btn6{ background-color:#ebebeb; color:#999}

.join-pker { margin-top:12px}
.join-pker .p2{ margin-top:4px}
.join-pker .p2 a {margin-right:5px; display:inline-block; vertical-align:middle;width:30px; height:30px;}
.join-pker .p2 a img{ width:30px; height:30px;}
.join-pker a.add-pker{ background-position:-178px -94px}

.yz-message li b{ width:202px}
.blue-btn2{background-color: #3083E7; color:#FFFFFF; display:inline-block; height:27px; line-height:26px; text-align:center; width:100px;}
.blue-btn2:hover{background-color: #499BFD; text-decoration:none}

.pei-line{ padding:0;}
.pei-line li{ width:auto; padding:6px 0 19px}
.pei-line .ali-r{ top:38px}
.pei-line .ali-l dd a {color:#333333; margin-right:0; width:205px;}

.pei-line .ali-r em {color:#FF6600; font-size:20px;}
.perl-line-new{ margin-bottom:20px}
.sucline-r { width:269px}
.sucline-r .title{ margin-bottom:3px}
.sucline-r li{ _width:269px}

.tip-pop .sp-ct{color:#fb810c}
.tip-pop{ padding:4px 10px; border:1px #ffd8b3 solid; background-color:#ffecd9; }
.arrow-sty em{ color:#ffd8b3; font-style:normal}
.arrow-sty span{ color:#ffecd9; margin-top:-9px;}
.tip-pop .fi-1{ display:inline-block; width:14px; height:14px; background-position:-321px 0; vertical-align:middle; margin-right:5px}
.as-b{ top:25px; _top:23px}

.pln-hd dt .sp3{ position:absolute; bottom:2px; left:2px; z-index:1; display:inline-block; font-style:normal; color:#fff; width:100px; height:18px; overflow:hidden; text-align:center;line-height:18px; background-color:#000;background:rgba(0,0,0,0.4); filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#0f000000', endColorstr='#0f000000')}
.pln-hd dt i.flat-ico{ display:inline-block; width:15px; height:11px; background-position:-302px -1px; vertical-align:middle; margin-right:5px}

.fixed-style1{ position:fixed; top:0; z-index:100; width:663px; background-color:#fff}
.perl-line-new,.sucline-r{ border-color:#eee}















