<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ziteng.dao.hotel.IHotelEvaluate">
	<resultMap type="com.ziteng.entity.hotel.HotelEvaluate" id="hotelEvaluateMap">
		<id property="id" column="id"/>
		<result property="hotelId" column="t1_hotelId"/>
		<result property="hotelName" column="t1_hotelName"/>
		<result property="evaluativeContent" column="t1_evaluativeContent"/>
		<result property="evaluateDate" column="t1_evaluateDate"/>
		<result property="evaluateUser" column="t1_evaluateUser"/>
		<result property="hotelStep" column="t1_hotelStep"/>
		<result property="otherInfo" column="t1_otherInfo"/>
		<result property="expandCol1" column="t1_expandCol1"/>
		<result property="expandCol2" column="t1_expandCol2"/>
		<result property="expandCol3" column="t1_expandCol3"/>
		<result property="expandCol4" column="t1_expandCol4"/>
		<result property="expandCol5" column="t1_expandCol5"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.ziteng.entity.hotel.HotelEvaluate" keyProperty="id" useGeneratedKeys="true" flushCache="true">
		insert into t1_hotelevaluate
		(id,t1_hotelId,t1_hotelName,t1_evaluativeContent,t1_evaluateDate,t1_evaluateUser,t1_hotelStep,t1_otherInfo,t1_expandCol1,t1_expandCol2,t1_expandCol3,t1_expandCol4,t1_expandCol5)
		values
		(#{id},#{hotelId},#{hotelName},#{evaluativeContent},#{evaluateDate},#{evaluateUser},#{hotelStep},#{otherInfo},#{expandCol1},#{expandCol2},#{expandCol3},#{expandCol4},#{expandCol5})
	</insert>
	<update id="update" parameterType="com.ziteng.entity.hotel.HotelEvaluate" flushCache="true">
		update t1_hotelevaluate set
		t1_hotelId=#{hotelId},
		t1_hotelName=#{hotelName},
		t1_evaluativeContent=#{evaluativeContent},
		t1_evaluateDate=#{evaluateDate},
		t1_evaluateUser=#{evaluateUser},
		t1_hotelStep=#{hotelStep},
		t1_otherInfo=#{otherInfo},
		t1_expandCol1=#{expandCol1},
		t1_expandCol2=#{expandCol2},
		t1_expandCol3=#{expandCol3},
		t1_expandCol4=#{expandCol4},
		t1_expandCol5=#{expandCol5}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="com.ziteng.entity.hotel.HotelEvaluate" flushCache="true">
		delete from t1_hotelevaluate where id=#{id}
	</delete>
	<delete id="deleteById" parameterType="int" flushCache="true">
		delete from t1_hotelevaluate where id=#{id}
	</delete>
	<select id="selectById" parameterType="int" useCache="true" resultMap="hotelEvaluateMap">
		select * from t1_hotelevaluate where id=#{value}
	</select>
	
	<sql id="selectEntityList_where">
		<where>
		    <if test="id!=null">id=#{id}</if>
		    <if test="hotelId!=null and hotelId!=''"> and t1_hotelId=#{hotelId}</if>
		    <if test="hotelName!=null and hotelName!=''"> and t1_hotelName=#{hotelName}</if>
		    <if test="evaluateUser!=null and evaluateUser!=''"> and t1_evaluateUser=#{evaluateUser}</if>
		    <if test="hotelStep!=null and hotelStep!=''"> and t1_hotelStep=#{hotelStep}</if>		    
		</where>
	</sql>
	<sql id="orderBySql">
		<choose>
			<when test="sortname!=null and sortorder!=null and sortname!='' and sortorder!=''"> order by ${sortname} ${sortorder} </when>
			<otherwise> order by id desc </otherwise>
		</choose>
	</sql>	
	
	<select id="selectEntityCount" parameterType="com.ziteng.dto.query.hotel.HotelEvaluateQuery" useCache="true" resultType="int">
		select count(id) from t1_hotelevaluate
		<include refid="selectEntityList_where"/>
	</select>
	<select id="getGeneralId" parameterType="com.ziteng.dto.query.hotel.HotelEvaluateQuery" useCache="true" resultType="int">
		select  IFNULL(MAX(id) + 1,1) from t1_hotelevaluate
	</select>
	<select id="selectEntityList" parameterType="com.ziteng.dto.query.hotel.HotelEvaluateQuery" useCache="true" resultMap="hotelEvaluateMap">
		select * from t1_hotelevaluate
		<include refid="selectEntityList_where"/>
		<include refid="orderBySql"/>
		<if test="startRow!=null and endRow!=null">limit #{startRow}, #{pageSize}</if>
	</select>
</mapper>
